.square {
  background-color: #e1d1fa;
  border : 1px #999 solid;
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  height: 80px;
  display: inline;
  border-radius: 5px;
}

.row {
  clear: both;
  content: "";
  display: table;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

ul {
  padding-left: 30px;
  list-style: none;
}

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
}

.who-next {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-family:'Courier New', Courier, monospace;
}

#game-title {
  text-align: center;
  margin-top: 1.3em;
  font-family:'Courier New', Courier, monospace;
}